@{
    var currentPage = ViewBag.CurrentPage;
}

<nav class="mt-2">
    <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
        <!-- Add icons to the links using the .nav-icon class
        with font-awesome or any other icon font library -->
        @if (appSession.User.Role == UserRole.Admin)
        {
            <li class="nav-item">
                <a asp-action="Index" asp-controller="User" asp-area="Admin"
                   class="nav-link @(currentPage == PageNames.Users ? "active" : null)">
                    <i class="nav-icon fas fa-users"></i>
                    <p>
                        Users
                    </p>
                </a>
            </li>
        }
        <li class="nav-item">
            <a asp-action="Index" asp-controller="TargetApp" asp-area="Admin"
               class="nav-link @(currentPage == PageNames.TargetApps ? "active" : null)">
                <i class="nav-icon fas fa-cubes"></i>
                <p>
                    Target Apps
                </p>
            </a>
        </li>
        @if (appSession.User.Role == UserRole.Admin)
        {
            <li class="nav-item">
                <a asp-action="Index" asp-controller="Log" asp-area="Admin" class="nav-link @(currentPage == PageNames.Logs ? "active" : null)">
                    <i class="nav-icon fas fa-list-alt"></i>
                    <p>
                        Logs
                    </p>
                </a>
            </li>
            <li class="nav-item">
                <a asp-action="Index" asp-controller="Email" asp-area="Admin" class="nav-link @(currentPage == PageNames.Emails ? "active" : null)">
                    <i class="nav-icon fas fa-envelope"></i>
                    <p>
                        Emails
                    </p>
                </a>
            </li>
        }
    </ul>
</nav>