<footer class="main-footer">
    <strong>Copyright &copy; 2020 <a href="javascript:;">@AppDefaults.AppName</a>.</strong> All rights reserved.
    <div class="float-right d-none d-sm-inline">
        <b>Version</b> @AppDefaults.Version [@AppDefaults.ReleaseDate.ToString("yyyyMMdd")]
    </div>
</footer>