<div class="container-fluid">
    <div class="row">
        <div class="col-6">
            <h1>Target Apps</h1>
        </div>
        <div class="col-6 text-right">
            <a asp-action="Create" class="btn bg-blue">
                <i class="fa fa-plus-square"></i>
                Create
            </a>
        </div>
    </div>
</div>