<div class="container-fluid">
    <div class="row mt-5 text-center">
        <div class="col-sm-12">
            <h1 class="m-0 text-dark">Welcome to Admin Panel of @AppDefaults.AppName </h1>
        </div>
    </div>
</div>