@{
    ViewBag.Title = "Welcome";
}

<div class="content-wrapper">
    <div class="content-header">
        <div class="container">
            <div class="row mb-2">
                <div class="col-md-12 text-center">
                    <h1 class="m-0">Welcome to DowntimeAlerter!</h1>
                </div>
            </div>
        </div>
    </div>

    <div class="content">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="card card-dark card-outline">
                        <div class="card-header">
                            <h5 class="card-title m-0"><i class="fas fa-info-circle"></i> About</h5>
                        </div>
                        <div class="card-body">
                            <p class="card-text">A web application to monitor health checks of any targeted website by url.</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-12">
                    <div class="card card-dark card-outline">
                        <div class="card-header">
                            <h5 class="card-title m-0"><i class="fas fa-tags"></i> Tags</h5>
                        </div>
                        <div class="card-body">
                            <p class="card-text">
                                <span class="badge badge-primary">dotnetcore</span>
                                <span class="badge badge-primary">health-check</span>
                                <span class="badge badge-primary">monitoring-tool</span>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-12">
                    <div class="card card-dark card-outline">
                        <div class="card-header">
                            <h5 class="card-title m-0"><i class="fas fa-code"></i> Tools Used</h5>
                        </div>
                        <div class="card-body">
                            <div class="row">
                                <div class="col-md-6">
                                    <ul>
                                        <li>AspNetCore</li>
                                        <li>MVC</li>
                                        <li>RazorPages</li>
                                        <li>EntityFrameworkCore</li>
                                        <li>Autofac</li>
                                    </ul>
                                </div>
                                <div class="col-md-6">
                                    <ul>
                                        <li>AutoMapper</li>
                                        <li>FluentValidation</li>
                                        <li>MailKit</li>
                                        <li>Swagger</li>
                                        <li>AdminLte</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>